@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
.problemInput {
    float: left;
    text-align: left;
    width: 50%;
    background-color: transparent;
    color: white;
    border-color: transparent;
}

.wrapper .input-group-text {
    padding: 0 0;
    padding-right: 10px;
}

.input-group-text {
    font-family: 'Noto Serif', serif;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.form-control {
    color: black;
    background-color: transparent;
    border-color: transparent;
    border-radius: none !important;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    transition: none;
}

.input {
    height: auto;
}

#nextButton {}