@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

.text {
    color: black;
    font-family: 'Noto Serif', serif;
    align-content: center;
    text-align: left;
}

.btn {
    float: right;
    color: #FFFDFD;
    font-family: 'Noto Serif', serif;
    padding: .5rem 2.5rem;
    background-color: #00C39D;
    border-color: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 136, 109);
}

.btn-primary {
    outline: none !important;
}

.problemInput {
    text-align: left;
    width: 70%;
    background-color: transparent;
    color: white;
    border-color: transparent;
}

.placeholder {
    text-align: center;
}

.form-label {
    color: white;
}

.form-control {
    background-color: white !important;
}

.form-control:focus {
    color: black !important;
    background-color: rgb(232, 240, 254) !important;
}

form {
    outline: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: green;
    border: none;
}

#loginErr {
    color: rgb(255, 103, 103);
}

.box {
    padding-bottom: 2vh;
}

/* TODO create account modal */
#create-account {
    float: middle;
}
