#tutorialContainer {
  background-color: #eeeeee; 
  height: 100vh;
}

#tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tutorialVid {
  height: 80vh;
  border: 3px solid #535353;
}

#tutorialBttn {
  margin-top: 10px;
  margin-right: 10px;
}