.categoryContainer {
    display: inline-block;
    border: 2px solid #00C39D;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}

.categoryContainerClicked {
    cursor: pointer;
    display: inline-block;
    border: 2px solid #00C39D;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    background: #00C39D;
}

.categoryContainerPreview {
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 12px;
    max-width: 175px;
}

.categoryContainerRead {
    /* background-color: rgb(255, 255, 255); */
    display: inline-block;
    border: 2px solid #00C39D;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
    cursor: default;
}

.categoryContainerNoClick {
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
}

.deleteGreen {
    margin-left: 15px;
    color: #00C39D;
    font-weight: bold;
}

.deleteWhite {
    margin-left: 15px;
    color: white;
    font-weight: bold;
}

.darkLabel {
    color: #535353;
}

.lightLabel {
    color: white;
}